body {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.tic-tac-toe table{
    border-collapse: collapse;
    border-style: hidden;
	font-size: 30px;
	width: 400px;
	height: 400px;
}

.tic-tac-toe td, th {
    border: 1px solid black;
}

#ol, #om, #or,
#ml, #mm, #mr,
#ul, #um, #ur {
	position: relative;
}

td:hover{
	background-color:navy;
}

#obenlinks, #obenmitte, #obenrechts,
#mittelinks, #mittemitte, #mitterechts,
#untenlinks, #untenmitte, #untenrechts {
	display: none;
}

#obenlinks:checked + #ol:after, #obenmitte:checked + #om:after, #obenrechts:checked + #or:after,
#mittelinks:checked + #ml:after, #mittemitte:checked + #mm:after, #mitterechts:checked + #mr:after,
#untenlinks:checked + #ul:after, #untenmitte:checked + #um:after, #untenrechts:checked + #ur:after
{
	content: "Hide";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:white;
}

:checked {
	pointer-events: none;
}