body {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.tic-tac-toe table{
    border-collapse: collapse;
    border-style: hidden;
	font-size: 30px;
	width: 400px;
	height: 400px;
}

.tic-tac-toe td, th {
    border: 1px solid black;
}

#ol {
	position: relative;
}

td:hover{
	background-color:blue;
}

#obenlinks {
	display: none;
}

#obenlinks:checked + #ol:after {
	content: "Hide";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: white;
}