body {
	margin: auto;
	width: 50%;
	padding: 10px;
	text-align: center;
}

.tic-tac-toe table{
    border-collapse: collapse;
    border-style: hidden;
	font-size: 30px;
	width: 400px;
	height: 400px;
}

.tic-tac-toe td, th {
    border: 1px solid black;
}

