$table-width: 500px;
$table-height: 500px;

$table-margin: 50px;

$caption-X: "Spieler X ist am Zug";
$caption-O: "Spieler O ist am Zug";

body {
    margin: $table-margin;
	padding: 10px;
	text-align: center;
}

.tic-tac-toe {
	.table{
		border-collapse: collapse;
		border-style: hidden;
		font-size: 30px;
		//width: $table-width;
		//height: $table-height;
	}

	.tr {
		width: $table-width/3;
	}
	
	.td {
		border: 10px solid rgba(51,51,255,0.5);
		//background-color: rgba(102,102,255,0.8);
		width: ($table-width/3);
		height: ($table-height/3);
	}
	
	input[type="radio"] {
		display: none;
		
		&:checked {
			pointer-events: none;
		}
		
		&:checked + label {
			cursor: default;
			z-index: 10 !important;
		}
		
		&.p1 + label:after {
			content: "X";
			opacity: 0;
		}
		
		&.p2 + label:after {
			content: "O";
			opacity: 0;
		}
		
		&.p1:checked + label:after,
		&.p2:checked + label:after { opacity: 1; }
		
		&.p1:checked + label:after { 
			background-color: rgba(255,0,0,0.7);
			border-radius: 14px;
		}
		&.p2:checked + label:after { 
			background-color: rgba(0,255,0,0.7);
			border-radius: 14px;
		}
		
		@for $i from 1 through 9 {
			&.turn-#{$i} + label {
				z-index: $i;
			}
		}
		
		&.turn-1 + label { display: block; }
		
		@for $i from 1 through 8 {
			&.turn-#{$i}:checked ~ .turn-#{$i+1} + label { display: block; }
		}
		
		//Positioning the labels
		&.obenlinks + label {
			left: $table-margin+10px;
			top: $table-margin+46px;
		}
		
		&.mittelinks + label {
			left: $table-margin+10px;
			top: $table-margin+226px;
		}
		
		&.untenlinks + label {
			left: $table-margin+10px;
			top: $table-margin+405px;
		}
		
		&.obenmitte + label {
			left: $table-margin+190px;
			top: $table-margin+46px;
		}
		
		&.mittemitte + label {
			left: $table-margin+190px;
			top: $table-margin+226px;
		}
		
		&.untenmitte + label {
			left: $table-margin+190px;
			top: $table-margin+405px;
		}
		
		&.obenrechts + label {
			left: $table-margin+370px;
			top: $table-margin+46px;
		}
		
		&.mitterechts + label {
			left: $table-margin+370px;
			top: $table-margin+226px;
		}
		
		&.untenrechts + label {
			left: $table-margin+370px;
			top: $table-margin+405px;
		}
	}
	
	label {
		background-color: rgba(102,102,255,0.8);
		position: absolute;
		border-radius: 14px;
		cursor: pointer;
		color: #fff;
		height: 165px;
		width: 165px;
		&:hover {
			background-color: #3d4250;
			&:after { opacity: .4; }
		}
		
		&:after {
			left: 0%;
			height: 125px;
			width: 100%;
			font-family: "Arial";
			font-size: 70px;
			padding-top: 40px;
			text-align: center;
			vertical-align: middle;
			position: absolute;
			opacity: 0;
			text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
		}
		
		
	}
	
	//Checking for a tie:
	input[type="radio"]:checked ~ input[type="radio"]:checked ~ input[type="radio"]:checked ~
	input[type="radio"]:checked ~ input[type="radio"]:checked ~ input[type="radio"]:checked ~
	input[type="radio"]:checked ~ input[type="radio"]:checked ~ input[type="radio"]:checked ~ .end{
	display: block;
	
		> h3:before {content:"It is a tie!";}
	}
	
	.end {
	background: rgba(255, 255, 255, .8);
    bottom: 5px;
    color: #3d4250;
    display: none;
    left: 5px;
    padding-top: 55px;
    position: absolute;
    right: 5px;
    top: 5px;
    text-align: center;
    z-index: 11;
   
    @media(min-width: 450px) {
      padding-top: 110px;
    }
    
    h3 {
      font-size: 30px;
      font-weight: 300;
      
      @media(min-width: 450px) { font-size: 40px; }
    }
    
    a {
      background-color: #3d4250;
      border-radius: 4px;
      color: #fff;
      padding: 14px 45px;
      text-decoration: none;
      
      &:hover {
        background-color: #262934;
        cursor: pointer;
      }
    }
  }
}